module Main where

import AOC

main = AOC.runSolverWithTests (AOC.SolutionWithTests
  { dayNum=%DAY%
  , solvers=
    [ WithTests
        (AOC.LineSolver process collect)
        [("test1", "")]
    ]
  })

process :: String -> String
process = _

collect = show

