module Main where

import AOC

main = AOC.runSolverWithTests (AOC.SolutionWithTests
  { dayNum=%DAY%
  , solvers=
    [ WithTests
        (AOC.LineSolver process result)
        [("test1", "")]
    ]
  })

process :: String -> String
process = _

result = _

